
<body>
   <div class="bg-image" 
     style="background-image: url('https://images.pexels.com/photos/2748756/pexels-photo-2748756.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
            height: 100vh;">
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">About Us</h1>
    <p class="lead landing-text">Seed-it uses modern technology and an easy to use interface to grow herbs and succulents from 
      home with ease! All you need is the Seed-it growbox, an account on Seed-it, and you're underway!</p>
  </div>
</div>
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">How to use</h1>
    <p class="lead landing-text">Click on the My Plants tab, and a list of your plants will be displayed.
       If it's your first time, create a plant! This will sync up with your Raspberry pie you've
       bought online. Using your username and password, the raspberry pie will interact with our Seed-it 
       servers to operate your Seed-it grow box!</p>
  </div>
  </div>
