
<body>
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">About Us</h1>
    <p class="lead">Seed-it uses modern technology and an easy to use interface to grow herbs and succulents from 
      home with ease! All you need is the Seed-it growbox, an account on Seed-it, and your underway!</p>
  </div>
</div>
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">How to use</h1>
    <p class="lead">Click on the myplants tab, and add a plant. The light cycle will be dislayed and what cycle the plant is in at the current time
      . You can edit the light cycle, change details, or delete the plant from this interface</p>
  </div>
