<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">My Plants</h1>
  </div>
</div>



{{#if plants.length}}
  <div class="col-md-6">
    {{#each plants as |plant|}}
    <div class="mx-auto" style="width: 400px;">
    <div class="card" style="width: 25rem;">
  <img class="card-img-top" src="../assets/herb.jpg" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title">{{plant.plant_name}}</h4>
  </div>
</div>
  </div>
    {{/each}}
  </div>
{{/if}}