<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">My Plants</h1>
  </div>
</div>

<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
>
  Add Plant
</button>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add plant</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <label for="plant-name" class="form-label">Plant name:</label>
        <div class="input-group flex-nowrap">
          <form>
        <div class="form-group">
          {{!-- <input
            type="text"
            class="form-control"
            aria-label="plant-name"
            id="plant-name"
            aria-describedby="addon-wrapping"
            value=""
          /> --}}
          <select class="form-select" aria-label="Default select example" id="plant-name">
            <option selected>Select a plant type</option>
            <option value="Parsley">Parsley</option>
            <option value="Mint">Mint</option>
            <option value="Basil">Basil</option>
          </select>
          </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Cancel</button>
        <button type="button" class="btn btn-primary" id="save-plant">Save</button>
      </div>
    </div>
  </div>
</div>

{{#if plants.length}}
  <div class="col-md-6">
    {{#each plants as |plant|}}
      <div class="mx-auto" style="width: 400px;">
        <div class="card" style="width: 25rem;">
          <img
            class="card-img-top"
            src="../assets/herb.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h4 class="card-title">{{plant.plant_name}}</h4>
            <p>{{description}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}

<script src="/js/addplant.js"></script>