:root {
    --text-background: wheat;
    --btn-background: #054a29;
}

.nav-title {
    font-size: 54px;
}

.landing-text {
    background-color: var(--text-background);
    border-radius: 10px;
    padding: 10px;
}

form .form-input {
    background-color: var(--text-background);
}

.btn.btn-primary {
    background-color: var(--btn-background);
}

.btn {
    background-color: var(--btn-background);
    color: white;
}